/*
 * Global adjustments for SciTalk
*/

/**
 * Basic element/font definitions
 */

body {
  font-size: calc(14px + 0.1vw);
  line-height: 1.6;
}

/* Modular scale for heading sizes */
/* Scale 1.250 -- Major Second via type-scale.com */
h1 { font-size: 1.802em; }
h2 { font-size: 1.602em; }
h3 { font-size: 1.424em; }

h1, h2, h3 {
  margin: calc(0.4em + 0.7vw) 0;
}
.view-header h2 a {
  color: var(--color-primary);
  text-decoration: none;
}
.view-header h2 a:hover,
.view-header h2 a:focus {
  color: var(--color-secondary);
  text-decoration: underline;
}

td, th {
  padding: 1em;
}
