/*
 * Global adjustments for SciTalk
*/

/**
 * Basic element/font definitions
 */

body {
  font-size: calc(14px + 0.1vw);
  line-height: 1.6;
}

/* Modular scale for heading sizes */
/* Scale 1.250 -- Major Second via type-scale.com */
h1 { font-size: 1.802em; }
h2 { font-size: 1.602em; }
h3 { font-size: 1.424em; }

h1, h2, h3 {
  margin: calc(0.4em + 0.7vw) 0;
}
.view-header h2 a {
  color: var(--color-primary);
  text-decoration: none;
}
.view-header h2 a:hover,
.view-header h2 a:focus {
  color: var(--color-secondary);
  text-decoration: underline;
}
/*
 * Grid layout classes
*/
.card-grid {
  display: grid;
  grid-gap: var(--gutter--standard);
}
.card-grid > li {
  display: grid;
}
@media all and (min-width: 35em) and (max-width: 60em) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (min-width: 60em) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*
 * Add some margin on more links
*/
.more-link {
  margin-top: var(--gutter--standard);
}

/*
 * Inline fields
*/
.field--label-inline strong:after,
.node.talk.full .field > strong:after {
  content: ':';
  display: inline;
  margin-right: .2em;
}
.field.inline-list li:after {
  content: ',';
  display: inline-block;
  margin: 0 0.1em 0 -.1em;
}
.field.inline-list li:last-child:after {
  display: none;
}

/*
 * Select forms
 */
select {
  display: block;
  line-height: 1.3;
  padding-right: 1.9em;
  width: 100%;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background: #fff no-repeat ;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='51.165924' height='29.805382' viewBox='0 0 13.53765 7.8860072'%3E%3Cpath style='fill:none;stroke:%23000000;stroke-width:1' d='M 13.439113,0.08647453 6.7688253,7.6872495 0.09853749,0.08647553' /%3E%3C/svg%3E");
  background-position: calc(100% - .6em) center;
  background-size: 1em auto;
}
select::-ms-expand {
  display: none;
}
select:focus {
  border-color: var(--color-primary);
}
select option {
  font-weight:normal;
}

/*
 * Views exposed forms
*/

form.views-exposed-form {
  display: flex;
  align-items: center;
}
.views-exposed-form .form-item {
  margin-right: 1em;
}
