/**
 * Sitewide layout
*/

@media all and (max-width: 1240px) {
  :root {
    --responsive-padding: calc(1em + .2vw);
    --vertical-padding: calc(1em + .2vw);
  }
}

/**
 * Header
*/
.site-header .menu {
  font-size: 1.3em;
}

/**
 * Special content regions
*/
.page-header-inner,
.region-content,
.region-content-bottom {
  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
}
/* Page header */

.page-header-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}
.page-header-inner {
  padding: var(--vertical-padding) var(--responsive-padding);
}
.page-header-inner:empty {
  padding: 0;
}
.page-header-wrapper a:hover,
.page-header-wrapper a:focus {
  text-decoration: underline;
}
.page-header-wrapper h1 {
  line-height: 1.3;
  margin: 0 0 .3em;
}
.page-header-content,
.region-page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 20;
}
.page-header-region .page-header {
  margin-right: auto;
}
.region-page-header .block {
  margin-left: 1em;
}

.page-talk .page-header-inner {
  display: grid;
  grid-template-columns: auto 7em;
}
@media all and (min-width: 960px) {
  .page-talk .page-header-inner {
    display: grid;
    grid-template-columns: auto 15em;
  }
  .page-talk .page-header-wrapper .region-page-title {
    order: 0;
  }
  .page-talk .page-header-wrapper .node.talk.page-header {
    order: 3;
  }
  .page-talk .page-header-wrapper .region-page-header {
    order: 1;
  }
}
@media all and (max-width: 767px) {
  .page-talk .page-header-inner .region-page-title {
    grid-column: span 2;
  }
  .region-page-header button {
    justify-content: center;
    padding: .5em;
  }
  .region-page-header button svg {
    margin: 0;
  }
  .region-page-header button .text {
    display: none;
  }
}

.responsive-menu-active button.menu--toggle {
  margin: 0;
}

/**
 * Main content area
*/
.main-content {
  padding-top: 0;
  position: relative;
  z-index: 10;
}

/**
 * Footer
*/
.site-footer {
  border-top: 1px solid var(--color-lt-grey);
}
.region-footer {
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
}
/**
 * set Footer navigations side by side with account section right aligned
*/
.site-footer nav {
  display:inline-grid;
  grid-template-columns: 1fr 1fr;
}
