/**
 * Sitewide layout
*/

/**
 Variables
*/
:root {
  --gutter--standard: 1.5em;
  --gutter--big: 3em;
  --max-width: 80em;
}

/* Unfortunately can't use variables in a media query */
@media all and (max-width: calc(80em + .4vw)) {
  :root {
    --responsive-padding: calc(1em + .2vw);
    --vertical-padding: calc(1em + .2vw);
  }
}

/**
 * Header
*/
.site-header {
  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
}
.site-header .menu {
  font-size: 1.3em;
}

/**
 * Special content regions
*/
.highlight,
.region-content,
.region-content-bottom {
  padding-top: var(--vertical-padding);
  padding-bottom: var(--vertical-padding);
}
.highlight a:hover,
.highlight a:focus {
  text-decoration: underline;
}
.highlight h1 {
  margin: 0;
  line-height: 1.4;
}

/**
 * Footer
*/
.site-footer {
  border-top: 1px solid var(--color-lt-grey);
}
