/**
 Variables
*/
:root {
  --color--primary: #0f75bc;
  --gutter--standard: 2em;
}

@media all and (min-width: 60em) {
  :root {
    --gutter--standard: 3em;
  }
}
/**
 * Basic element/font definitions
 */
