/*
 * Component CSS for Catch-up form
*/

@import "../base/mixins.css";

/* Catch-up form */

.block--scitalk-catch-up-form-block,
.block--scitalk-source-catch-up-form-block {
  background: var(--color-lt-grey);
  padding: 1rem 1.5rem;

  & h2 {
    margin-top: 0;
  }

  & form {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }

  & label {
    @mixin visually-hidden;
  }

  & .form-item {
    margin: 0;
  }

  & .form-actions {
    margin: 0;
  }
}
.block--scitalk-source-catch-up-form-block {
  & .form-item-catch-up-source {
    @mixin visually-hidden;
  }
}
