/**
 * Sitewide layout
*/

/* Skip link */

.skip-link {
  text-decoration: none;
  background: var(--color-secondary);
  color: var(--color-secondary--foreground);
  padding: .2em .5em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}

.skip-link:hover, .skip-link:focus {
    color: var(--color-secondary--foreground);
    z-index: 2;
  }

/* Sitewider header layout */

.sticky-wrapper.is-sticky {
  z-index: 10;
}

.site-header {
  background: var(--color-primary);
  color: var(--color-primary--foreground);
  position: relative
}

.site-header a {
    color: var(--color-primary--foreground);
  }

.site-header .region-header {
    padding: 1rem calc(1em + .2vw);
  }

.site-header .block-system-branding-block a,
    .site-header .block-system-branding-block img {
      display: block;
    }

.site-header .block-system-branding-block img {
      max-height: 4rem;
    }

.site-header .search-block-form .form-text {
      border: none;
    }

@media all and (min-width: 959.99px) {
  .header-wrapper,
  .region-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .block-system-branding-block {
    margin-right: auto;
  }
}

.site-name {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: .07rem;
  text-decoration: none;
}

/* Mobile header layout */

@media all and (max-width: 959.99px) {
      .region-header .block-system-branding-block img {
        display: block;
        max-height: 4em;
        max-width: auto;
        width: auto;
      }
    .header-wrapper .search-block-form {
      display: flex;
      width: calc(100% + (2 * var(--responsive-padding)));
      display: none
    }
      .header-wrapper .search-block-form.open {
        display: block;
      }
      .header-wrapper .search-block-form form {
        padding: .5em 1.5em;
        flex: 1 0 auto;
        max-width: 28em;
        margin: 0 auto
      }
        .header-wrapper .search-block-form form .form-item {
          flex: 1 0 auto;
        }
        .header-wrapper .search-block-form form .form-text {
          flex: 1 0 auto;
          width: 100%;
        }
        .header-wrapper .search-block-form form .form-actions {
          margin-left: -.5em;
        }
}

/**
 * Content layout + Left nav
*/

.content-wrapper {
  padding: var(--vertical-padding) var(--responsive-padding) calc(2 * var(--vertical-padding));
  width: 100%;
}

@media all and (min-width: 960px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 220px auto;
    grid-gap: var(--gutter--standard);
  }
  .content-wrapper {
    max-width: 1000px;
    margin-bottom: var(--vertical-padding);
    padding-right: var(--responsive-padding);
  }
  .left-nav-wrapper {
    background: var(--color-lt-grey);
    padding-bottom: var(--gutter-standard);
    padding-top: var(--gutter-standard);
  }
}

@media all and (min-width: 960px) and (max-width: 1500px) {
  .content-wrapper.fixwidth {
    padding-right: calc(1.25rem + .2vw);

  }
}

/* Left nav  */

.region-left-nav .menu {
  margin: 0
}

.region-left-nav .menu li {
    display: block;
  }

.region-left-nav .menu a {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.7rem 1rem
  }

.region-left-nav .menu a:hover, .region-left-nav .menu a:focus {
      background: var(--color-secondary);
      color: var(--color-secondary--foreground);
    }

.region-left-nav .menu .active-trail a {
    background: var(--color-primary);
    color: var(--color-primary--foreground);
  }

/**
 * Footer
*/

.site-footer {
  background: var(--color-default-text);
  color: white;
  border-top: 1px solid var(--lt-grey);
  padding: var(--vertical-padding) 0
}

.site-footer a {
    color: white;
  }

.site-footer .menu {
    display: flex
  }

.site-footer .menu li {
      margin-right: .5rem;
    }

.site-footer .menu a {
      padding: .2rem
    }

.site-footer .menu a:hover, .site-footer .menu a:focus {
        text-decoration: underline;
      }

.region-footer {
  max-width: var(--max-width);
  margin: 0 auto;
}

@media all and (max-width: 1240px) {
  .region-footer {
    padding-left: var(--responsive-padding);
    padding-right: var(--responsive-padding);
  }
  .region-footer .block {
    margin-bottom: 1em;
  }
}

/*# sourceMappingURL=layout.css.map */
