/**
 * Colours
 * Override this in your subtheme using libraries-override
 *
 * Always make sure colours pass colour contrast requirements for accessibility
 * Check colour contrast at:
 * https://snook.ca/technical/colour_contrast/colour.html#fg=FFFFFF,bg=F99D31
 */

/**
 * Colour variables
*/
:root {
  --color-default-text: #000;
  --color-primary: #3196AF;
  --color-primary--foreground: #fff;
  --color-secondary: #4759CB;
  --color-secondary--foreground: #fff;
  --color-lt-grey: #eee;
  --color-med-grey: #747474;
  --color-dk-grey: #333;
}
/**
 * Links
*/
a {
  color: var(--color-primary);
}
a:hover,
a:focus {
  color: var(--color-secondary);
}

/**
 * Button colours
*/

input:focus,
select:focus,
textarea:focus,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  border-color: var(--color-primary);
  box-shadow-color: 0 0 2px .1rem  var(--color-primary);
}
