/*
 * Font import and definition
 * Override this in your subtheme using libraries-override
 *
 * Stardust assumes use of a font weth a mid-weight )400
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300, 400,500&display=swap');

body {
  font-family: 'Ubuntu';
  font-weight: 300;
}

h1, h2, h3, h4, h5, strong, dt, th,
.block-system-branding-block .site-name {
  font-weight: 500;
}

.menu a, .links a {
  font-weight: 400;
}