
/**
 * Layout utility classes
 */

/**
 Variables
*/

:root {
  --gutter--standard: calc(1em + .2vw);
  --gutter--big: calc(1.2em + .2vw);
  --max-width: 1200px;
  --responsive-padding: 0;
  --vertical-padding: 2em;
}

/* Unfortunately can't use variables in a media query */
@media all and (max-width: 1200px) {
  :root {
    --responsive-padding: calc(1em + .2vw);
    --vertical-padding: calc(1em + .2vw);
  }
}

.fixwidth {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
}

