
/**
 * Layout utility classes
 */

:root {
  --max-width: 60em;
  --vertical-padding: 2em;
}
/* Unfortunately can't use variables in a media query */
@media all and (max-width: calc(66em + .4vw)) {
  :root {
    --responsive-padding: calc(1em + .2vw);
    --vertical-padding: calc(1em + .2vw);
  }
}

.fixwidth {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
}
