/**
 * Advanced search form (filters)
*/

.open-advanced-search {
  background: transparent;
  color: var(--color-defalt-text);
  display: inline-block;
  font-size: .85rem;
  font-weight: 500;
  margin-bottom: .1rem;
  margin-top: -.1rem;
  & svg {
    height: 1.7rem;
    width: 1.7rem;
    vertical-align: middle;
  }
}

/* Search form in sidebar */
.left-nav-wrapper .advanced-search-form {
  padding-left: 1rem;
  padding-right: 1rem;
  display: none;
  text-align: left;
  & label {
    font-size: .8rem;
    font-weight: normal;
  }
  & .form-item-sort-bef-combine {
    display: none;
  }

}

/* Hiding & Showing changes */
.close-advanced-search {
  background: transparent;
  float: right;
  padding: .3rem;
  margin-right: var(--responsive-padding);
  & svg {
    color: var(--color-default-text);
    height: 1.5rem;
    width: 1.5rem;
  }
  &:matches(:hover,:focus) {
    background: transparent;
    svg {
      color: var(--color-secondary--foreground);
    }
  }
  &[aria-expanded=true] {
    display: block;
  }
  &[aria-expanded=false] {
    display: none;
  }
}
.page-wrapper {
  /* This currently only works in Firefox */
  transition: grid-template-columns .3s
}
.adv-search-open {
  & .page-wrapper {
    grid-template-columns: 342px auto;
  }
  & .left-nav-wrapper {
    & .advanced-search-form {
      display: block;
    }
  }
}
.region-left-nav .menu--main.hide {
  display: none;
}

/* In the mobile menu */
.responsive-menu {
  & .close-advanced-search {
    margin-right: 0;
    & svg {
      color: white;
    }
  }
  & .advanced-search-form {
    padding: 0;
    & .form-submit + .form-submit {
      color: white;
    }
  }
  /* Form adjustments */
  & input,
  & select,
  & textarea {
    border: none;
  }
  & .form-item {
    margin: 0 0 0.8rem;
  }
  & .bef-checkboxes,
  & summary {
    color: var(--color-default-text);
  }
}

/**
 * Advanced search results page
*/
/* Search summary */
.search-summary {
  margin: 0 0 1em;
}
.advanced-view-header .search-summary {
  margin-bottom: 0;
}

/* Date fields */
.date-search-wrap {
  display: flex;
  & input {
    max-width: 11em;
  }
  & .form-item:first-child {
    margin-right: .5em;
  }
}
@media all and (max-width: 400px) {
  .date-search-wrap {
    display: block;
  }
}

/* Multi-select checkbox dropdowns */
.advanced-search-form details {
   background: white;
}

/* Submit */
.advanced-search-form .form-submit {
  font-size: .9rem;
  font-weight: 500;
  & + .form-submit {
    background: none;
    padding: 0;
    color: var(--color-primary);
  }
}
