
/* Cite & Share buttons */
@import "../base/mixins.css";

.share-links,
.citations-wrapper {
  font-size: .9rem;
}
button.citations-label,
button.share-label {
  background: transparent;
  color: var(--color-default-text);
  display: flex;
  align-items: center;
  padding: .5em 1em;
  & svg {
    stroke: var(--color-default-text);
    height: 2em;
    width: 2em;
    margin-right: .5em;
  }
  & path {
    stroke: var(--color-default-text);
    fill: none;
  }
  & circle {
    fill: transparent;
  }
}
button.citations-label:matches(:hover,:focus),
button.share-label:matches(:hover,:focus),
.share-links:matches(:hover,:focus) button.share-label {
  background: var(--color-primary);
  color: var(--color-primary--foreground);
  & svg,
  & path {
    stroke: var(--color-primary--foreground);
  }
}

@media all and (max-width: 600px) {
  button.citations-label,
  button.share-label {
    & .text {
      @mixin visually-hidden;
    }
  }
}
