/**
 * Component CSS for Collections/Taxonomy
*/

@import "../base/mixins.css";

/* Exposed type filter on Collections view */
.bef-exposed-form .form-item-field-collection-type-target-id {
  & label {
    @mixin visually-hidden;
  }

  & .form-select.bef-links {
    background: transparent;
    display: block;
    & ul {
      display: flex;
      text-align: center;
    }
  }

  & + .form-item-sort-bef-combine {
    display: none;
  }
}

@media all and (max-width: 600px) {
  .bef-exposed-form .form-item-field-collection-type-target-id {
    & ul {
      flex-direction: column;
      & li {
        display: block;
      }
    }
  }
}
.bef-link {
  border-bottom: 2px solid transparent;
  font-size: 1.2em;
  font-weight: 600;
  padding: .5em 1.8em;

  & strong {
    display: block;
    color: var(--color-dk-grey);
  }

  & a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  &:matches(:hover,:focus),
  &.bef-link--selected {
    background: var(--color-lt-grey);
    border-bottom: 2px solid var(--color-primary);
  }
}


@media all and (max-width: 600px) {
  .bef-link {
    padding: .5em .8em;
    & a {
      display: flex;
      gap: .5rem;
    }
  }
}
/* Layered box shadows */
.collection-wrapper {
   position: relative;
   display: flex;
   margin-left: 20px;

   &.collection-has-children {
     margin-bottom: calc(var(--gutter-standard) + 10px);

     & .node.collection {
       margin: 0;
       position: relative;
       z-index: 2;
     }
     & .info {
       margin-bottom: .5rem;
     }
     &:after,
     &:before {
       box-shadow: -2px 2px 2px 0 rgba(99, 104, 115, 0.15);
       position: relative;
       background: white;
       content: '';
       display: flex;
       width: 100%;
       height: 100%;
       position: absolute;
       top: 5px;
       left: -5px;
       z-index: 1;
     }
     &:after {
       top: 10px;
       left: -10px;
       z-index: 0
     }
   }
}

/* Expanded views */
.collection-wrapper + .collection-children {
  margin-left: 2rem;
}

/* Collection node adjustments */
.parent-collection-link {
  font-weight: bold;
  text-decoration: none;

  &:before {
    @mixin caret 2px, .5em, var(--color-primary);
    transform: rotate(135deg);
  }
  &:matches(:hover,:focus) {
    text-decoration: none;
  }
}

@media all and (min-width: 600px) {
  .node.collection.horizontal-card,
  .node.collection.teaser {
    width: 100%;

    & > .views-element-container {
      flex: 0 0 200px;
    }

    & > .content {
      margin-left: 1em;
    }
  }
}

@media all and (max-width: 600px) {
  .node.collection.horizontal-card,
  .node.collection.teaser {
    & > .views-element-container {
      display: none;
    }
  }
}

.node.collection.full {
  & > .content {
    margin: 1rem 0;
  }
}

.field--name-field-parent-collection {
  font-size: .9em;
  font-weight: 500;
  margin: 0 0 .5em;
  & a {
    text-decoration: none;
  }
}

/* Collapse icons */
.toggle-children {
  background: var(--color-lt-grey);
  color: var(--color-primary);
  font-size: .9em;
  margin-top: .5rem;
  padding: 0.4em .5em;

  &:after {
    @mixin caret 2px, .5em, var(--color-primary);
    margin: -0.5rem .2rem 0 0.3rem;
    vertical-align: middle;
  }

  &[aria-expanded='true']:after {
    transform: rotate(-135deg);
    margin-top: .1rem;
  }

  &:matches(:hover,:focus) {
    background: var(--color-secondary);
    color: var(--color-secondary--foreground);
    &:after {
      border-color: var(--color-secondary--foreground);
    }
  }
}

/* View alterations  */
.collection-children[aria-hidden='true'] {
  display: none;
}

.view-scitalk-collection-children {
  & > .view-content > div > h3 {
    display: none;
  }

  margin-bottom: 2rem;
  margin-left: 2rem;

  & > .more-link {
    margin-top: -1rem 1rem 0 0;
    text-decoration: none;
    text-transform: none;

    & a:after {
      @mixin caret 2px, .5em, var(--color-primary--foreground);
      transform: rotate(-45deg);
      margin-left: 0.5rem;
    }
  }
}
