/**
 * Component CSS for Source Repositories
*/

@import "../base/mixins.css";

.view-source-repositories {
  margin-top: var(--vertical-padding);
}

.group--source-repository.group--card {
  & .group-content {
    margin-top: 1em;
  }
  & a {
    display: grid;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
  }
  & .field--name-field-source-repo-logo img {
    display: block;
    max-height: 100%;
    width: auto;
    margin: 0 auto;
    max-width: 200px;
  }
  & .field--name-field-repo-institution-full-name {
    font-weight: 400;
    margin: .5rem 0;
  }
}

.no-talks-collections {
  display: flex;
  line-height: 1;
  font-size: .9rem;

  & li:nth-child(2) {
    border-left: 1px solid;
    margin-left: .5em;
    padding-left: .5em;
  }
}

/* Teaser view mode (used on repositories view ) */
@media all and (min-width: 768px) {
  .group--source-repository.group--card {
    display: grid;
    grid-template-rows: 10em 1fr;

    & .field--name-field-source-repo-logo {
      display: flex;
      align-items: center;
      height: 100%;
      overflow: hidden;
    }
  }
}

@media all and (max-width: 500px) {
  .view-source-repositories .grid-4col {
    grid-template-columns: 1fr;
  }
  .group--source-repository.group--card {
    max-width: 350px;
    margin: 0 auto 3em;
    & .field--name-field-source-repo-logo {
      margin: 0 auto;
    }
  }
}

/* Full view mode */
 .group--source-repository.group--page-header  {
   margin-bottom: 4em;
 }

@media all and (max-width: 500px) {
   .group--source-repository.group--page-header.has-logo .field--name-field-source-repo-logo img {
     display: block;
     margin: 0 auto;
     max-width: 80%;
     margin-bottom: 1.5em;
   }
}
@media all and (min-width: 501px) {
  .group--source-repository.group--page-header.has-logo {
    display: grid;
    grid-template-columns: 20em auto;
    grid-gap: 2rem;
  }
  .group--source-repository.group--page-header .field--name-field-source-repo-logo {
    flex: 1 0 auto;
    max-width: 20em;
  }
}
@media all and (min-width: 501px) and (max-width: 960px) {
  .group--source-repository.group--page-header.has-logo  {
    grid-template-columns: 30% auto;
    grid-gap: 1rem;
  }
}

/* Description overflow */
.source-show-more {
  cursor: pointer;
  display: block;
  margin-bottom: .5rem;

  &:after {
    @mixin caret 2px, .6em, var(--color-primary);
    margin: 0.1rem 0 0 0.5rem;
    vertical-align: top;
    transition: rotate .3s, margin .3s;
  }
}

.source-desc-overflow {
  height: 200px;
  overflow: hidden;
  position: relative;

  &.open {
    height: auto;
  }

  &:after {
    content: '';
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%);
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0
  }

  &.open:after {
    background: transparent;
  }

  &.open + .source-show-more:after {
    transform: rotate(-135deg);
    margin-top: .4rem;
  }
}

.visit-repo-button {
  margin-top: 1em;
  & strong:after {
    @mixin caret 2px, .5em, var(--color-primary--foreground);
    display: inline-block;
    transform: rotate(-45deg);
    margin: 0.3em 0 0 .2em;
    vertical-align: text-top;
  }
}
