/**
 * Component CSS for speakers
*/
.page-speaker-profile .page-header-content {
  margin-top: 0;
}
.node.speaker-profile.page-header .field--name-field-sp-institution-name {
  margin: 0;
  font-size: 1.05em;
}

/**
 Speaker full nodes
*/
.node.speaker-profile.full {
  margin-bottom: calc(2 * var(--vertical-padding));
  overflow: auto;
}
.node.speaker-profile.full .field--name-field-sp-profile-thumbnail {
  float: left;
  margin-right: var(--gutter--standard);
  width: 250px;
  max-width: 40%;
}
