/*
 * Full view mode
*/
@import "../base/mixins.css";

/* Talk number  */
.node.talk.full > .field--name-field-talk-number {
  background: var(--color-lt-grey);
  color: var(--color-default-text);
  display: inline-block;
  line-height: 1.6rem;
  padding: 0rem 0.7rem;
  text-decoration: none;

  font-weight: 500;
  font-size: .9rem;

  float: right;
  margin-bottom: 1rem;

}
/* Video player */
.jwplayer {
  width: 100% !important;
}
.field--name-field-talk-video {
  clear: both;
  margin-bottom: var(--gutter-standard);
}

/* Page title region & buttons */
.node.talk.full .region-page-title {
  display: grid;
  align-items: start;
}

@media all and (min-width: 768px) {
  .node.talk.full {
    & .region-page-title {
      grid-template-columns: auto 6rem 6rem;
    }
    & h1 {
      margin: 0 0 1rem;
    }
    & .block-pagetitle {
      margin-right: var(--gutter-standard);
    }
  }
}
@media all and (max-width: 767px) {
  .node.talk.full .region-page-title {
    grid-template-columns: 6rem 6rem auto;
    margin-bottom: 1rem;
    & .block-page-title-block {
      grid-column: span 3;
    }
  }
}

/* Talk details/info  */
.node.talk.full {
  & .speaker-list {
    display: block;
  }
  & .talk-metadata,
  & .field--name-field-talk-abstract,
  & .field--name-field-talk-resources {
    border-bottom: 1px solid var(--color-md-grey);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  & .info {
    display: flex;
    margin: 2rem 0 0 .2rem;
    & div:first-child {
      padding-left: 0;
    }
  }
  & .group-taxonomy {
    display: block;
    margin-top: 0;
  }
  & .talk-metadata .field {
    margin-bottom: .8rem;
    &.field--name-field-scientific-area {
     margin-bottom: .67rem;
    }
  }
}

.group-taxonomy {
  font-size: .8em;
  & .field {
    display: flex;
  }
  & .field__label {
    flex: 0 0 6rem;
    font-weight: normal;
  }
  & li {
    display: inline-block;
    margin-bottom: .4rem;
  }
}

@media all and (min-width: 768px) {
  .talk-metadata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gutter-standard);
  }
  .group-taxonomy {
    border-left: 1px solid var(--color-md-grey);
    padding-left: var(--gutter-standard);
    margin-left: calc(-.5 * var(--gutter-standard));
  }
}

@media all and (max-width: 767px) {
  .speaker-date-doi {
    border-bottom: 1px solid var(--color-md-grey);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
}

/* Related talks */
.related-talks-view {
  padding-top: var(--vertical-padding);
  & .view-display {
    margin-left: -1rem;
  }
  & h2 {
    margin: 0;
  }
}

.talk-add {
  padding: .5em 1em;
  margin-bottom: 1em;
}
