/*
 * Full view mode
*/
@import "../base/mixins.css";

/* Talk number in page header */
.node.talk.full > .field--name-field-talk-number {
  background: var(--color-lt-grey);
  color: var(--color-default-text);
  display: inline-block;
  line-height: 1.6rem;
  padding: 0rem 0.7rem;
  text-decoration: none;

  font-weight: 500;
  font-size: .9rem;

  float: right;
  margin-bottom: 1rem;

}
/* Video player */
.jwplayer {
  width: 100% !important;
}
.field--name-field-talk-video {
  margin-bottom: var(--gutter-standard);
}

/* Takk details/info  */
.node.talk.full {
  & .region-page-title h1,
  & .speakers {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  & .node--content {
    padding: 1rem 0;
  }
  & .info,
  & .field--name-field-talk-abstract,
  & .field--name-field-talk-resources {
    border-bottom: 1px solid var(--color-md-grey);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.node.talk.full .region-page-title {
  display: grid;
  align-items: start;
  grid-template-columns: auto 6rem 6rem;
}
@media all and (min-width: 768px) {
  .node.talk.full {
    & .node--content {
      padding: 1rem;
    }
    & .block-pagetitle {
      margin-right: var(--gutter-standard);
    }
  }
}

@media all and (max-width: 767px) {
  .node.talk.full .region-page-title {
    grid-template-columns: auto 3rem 3rem;
    & .block-page-title-block {
      grid-column:  span 3;
    }
    & .block-scitalk-citations-block {
      grid-column:  span 2;
      & .citations-label {
        margin-left: auto;

      }
    }
  }
}

/* Cite & Share buttons */
.share-links,
.citations-wrapper {
  font-size: .9rem;
}
button.citations-label,
button.share-label {
  background: transparent;
  color: var(--color-default-text);
  display: flex;
  align-items: center;
  padding: .5em 1em;
  & svg {
    stroke: var(--color-default-text);
    height: 2em;
    width: 2em;
    margin-right: .5em;
  }
  & path {
    stroke: var(--color-default-text);
    fill: none;
  }
  & circle {
    fill: transparent;
  }
}
button.citations-label:matches(:hover,:focus),
button.share-label:matches(:hover,:focus),
.share-links:matches(:hover,:focus) button.share-label {
  background: var(--color-primary);
  color: var(--color-primary--foreground);
  & svg,
  & path {
    stroke: var(--color-primary--foreground);
  }
}

@media all and (max-width: 600px) {
  button.citations-label,
  button.share-label {
    & .text {
      @mixin visually-hidden;
    }
  }
}

/* Resources */

.field--name-field-talk-attachments li {
  margin-bottom: 1em;
}
.resource-link,
.resource-link .icon {
  display: flex;
}
.resource--remote_file,
.resource--image,
.resource--file {
  align-items: center;
}
.resource-link .icon {
  background: var(--color-primary);
  color: var(--color-primary--foreground);

  height: 3em;
  width: 3em;
  margin-right: 1em;
  padding: 1em;

  align-items: center;
  justify-content: center;
}
.resource-link .icon svg {
  color: var(--color-primary--foreground);
}
.resource--arxiv .icon {
  background: #b31b1b;
}
.resource--remote_file .icon,
.resource--file .icon {
  background: no-repeat transparent center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z' /%3E%3C/svg%3E");
  background-size: cover;
  font-size: .9em;
  height: 5em;
  width: 4em;
  padding: .8em 0 0;
}
.resource--image {
  & .icon {
    background: none;
    padding: 0;
  }
  & .icon figure,
  & .icon figure a  {
    display: flex;
    height: 100%;
  }
  & .icon img {
    object-fit: cover;
  }
}
.resource-link {
  & p {
    margin: 0;
  }
  & .small {
    font-size: .8em;
  }
  & strong {
    font-weight: 500;
  }
}

.resource--remote_file p,
.resource--file p {
  display: inline;
}
.talk-add {
  padding: .5em 1em;
  margin-bottom: 1em;
}

/* Related talks */
.related-talks-view {
  & .view-display {
    margin-top: 0;
  }
  & h2 {
    margin-left: 1rem;
  }
}
