/**
 * Theming for any taxonomy terms
*/
@import "../base/mixins.css";
/*
 * As entity reference, and exposed form BEF links
 */
 .form-select.bef-links ul {
   @mixin display-list;
   font-size: .8rem;
   & li {
     display: inline-block;
     margin: 0.5rem;
   }
 }

.field--name-field-scientific-area,
.field--name-field-talk-type {
  & a {
    @mixin tag;
    &:matches(:hover,:focus) {
      @mixin tag-hover;
    }
  }
}

.field--name-field-talk-collection {
  & li:not(:last-child):after {
    content: ',';
    display: inline-block;
  }
}

/* Full term display */
.taxonomy-term.full {
  margin-bottom: var(--vertical-padding);
}
