/**
 * Theming for forms
 */
@import "../base/mixins.css";

legend {
  font-size: 1.1em;
  font-weight: 400;
}
.form-item {
  margin-bottom: 1em;
}
label,
h4.label {
  display: block;
  font-size: 1em;
  font-weight: 500;
}
label.label-inline:after {
  content: ':';
  margin-right: .5em;
}
label.option { display: inline-block; }
input,
select,
textarea,
details {
  background: #fff;
  border: .1em solid #999;
  box-shadow: 0 0 0.1rem white;
  max-width: 100%;
  padding: .6em .8em;

  transition: background .2s,border .2s,box-shadow .2s,color .2s;
  &:matches(:focus,:focus-visible,:focus-within) {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 .1rem rgba(87,85,217,.2);
    outline: none;
  }
}
input[type="date"] {
  font-family: var(--font-family-primary);
}
::-webkit-calendar-picker-indicator {
  margin: 0;
}
textarea {
  font-size: 1em;
  font-family: inherit;
  width: 100%;
}
.description,
.text-full {
  color: #777;
  font-size: .85em;
  line-height: 1.2em;
  margin-top: .5em;
}
textarea.text-full {
  color: #444;
}
details {
  & summary {
    cursor: pointer;
      list-style-type: none;
    font-size: .8rem;
    &:before,
    &:marker,
    &:::-webkit-details-marker {
      display: none;
      color: green;
    }
    &:after {
      @mixin caret 2px, .5em, var(--color-default-text);
      float: right;
      margin: 0.2rem 0 0 0.6rem;
    }
  }
  & .bef-toggle {
    display: block;
    font-size: .8rem;
    margin: .5rem 0;
  }
  & .form-item {
    font-size: .8rem;
    margin: .4rem 0;
  }
}
/* Grouping elements */
fieldset,
fieldset.form-item {
  border: 1px solid #ccc;
  margin-bottom: 1.7em;
  min-width: 0;
}
fieldset,
fieldset.form-item {
  padding: 0.4em .8em;
}
fieldset.collapsible legend {
  font-size: 1em;
}

/* Field types */
.form-type-radio label,
.form-type-checkbox label {
  font-size: .9em;
  font-weight: 300;
}
.form-type-checkbox.form-item,
.form-type-radio.form-item {
  padding: 0;
  margin-bottom: .2em;
}
.form-type-radio label:after {
  content: '';
}
label.option + .description {
  display: inline-block;
}
.field--widget-boolean-checkbox .form-item {
  margin-bottom: 0;
}
.field--widget-boolean-checkbox + .field--widget-boolean-checkbox .form-item {
  padding-top: 0;
}
.container-inline .form-item {
  display: inline-block;
  margin-bottom: 0;
}

/* Required fields */
.form-required:after {
  content: '*';
  color: #bb3535;
  vertical-align: super;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}

/* Actions */
.form-actions {
  margin-top: 1.5em;
}
.form-actions > * {
  margin-right: .5em;
}
input[type=submit],
.form-actions .form-submit {
  border: none;
  font-family: var(--font-family-primary);
  cursor: pointer;
}

/* Image Widget */
.image-widget img {
  float: left;
  margin-right: 1em;
}


/* Specific Forms */

/* Node/Edit preview top toolbar */
.node-preview-container {
  background: rgba(42,42,49,0.9);
  color: #fff;
  width: 100%;
}
.node-preview-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
a.node-preview-backlink {
  color: #fff;
  text-decoration: none;
}
.node-preview-container .form-type-select {
  margin: 0;
}
.node-preview-container .form-select {
  background: rgba(42,42,49,1);
  border: 1px solid rgba(200,200,200,0.5);
  color: #fff;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding-right: 1.5em;
}
.node-preview-container .form-type-select:after {
  background: url(../images/angle-icons.svg) -2em -1em no-repeat;
  background-size: 3em;
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.5em;
  pointer-events: none;
  margin-left: -1.8em;
  vertical-align: middle;
}
