/**
 * Utility classes
 */

/*
 * "Display" list: removes list markers, margins, and left padding.
 */
.display-list,
.inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
  & > li {
    display: inline;
    margin-right: 0.4em;
    &:last-child {
      margin: 0;
    }
  }
}
