
/**
 * Layout utility classes
 */

/**
 Variables
*/
.container,
.fixwidth {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
}

/* Three column grid */

.grid {
  display: grid;
  grid-gap: var(--gutter-standard);
  > li,
  > div {
    container: grid-item / inline-size;
  }
}

@media all and (min-width: 768px) {
  .grid-4col,
  .grid-3col {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 1100px) {
  .grid-4col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid-3col {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
