/**
 * Maintenance page
 */

.maintenance-page {
  color-scheme: dark;
  background-color: var(--color-default-bg);
}

.maintenance-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.maintenance-wrapper .logo {
  margin-bottom: 20px;
  max-width: 80%;
}
