
.page-layout {
  /* This max-width is altered in the transcripts component */
  --main-content-max-width: 60rem;
}

.main-content {
  max-width: var(--main-content-max-width);
  margin-inline: auto;
  padding: var(--gutter-standard) clamp(1rem, var(--gutter-standard), 1.5rem) calc(3 * var(--vertical-padding));
  width: 100%;
}

/* Toggle buttons */

.site-header .search-toggle,
.menu-toggle {
  &:is(:hover,:focus) {
    color: var(--color-primary--accent);
  }
}

@media (min-width: 960px) {
  .page-layout {
    /* This will be adjusted in the main nav component */
    --sidebar-width: clamp(12rem, 25%, 14rem);

    display: grid;
    grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width));
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header header'
      'nav banner'
      'nav content'
      'footer footer';
    transition: grid-template-columns .3s;
  }


  .main-nav button.menu-toggle,
  .menu-toggle-wrapper {
    display: none;
  }

  .site-header {
    grid-area: header;
  }

  .main-banner {
    grid-area: banner;
  }

  .main-content {
    grid-area: content;
  }

  .main-nav {
    grid-area: nav;
  }

  .site-footer {
    grid-area: footer;
  }
}

/* Mobile layout */
@media (max-width: 959px) {
  .menu-toggle-wrapper {
    display: flex;
    align-items: center;

    .icon {
      height: 1.3rem;
      width: 1.3rem;
      fill: currentColor;
    }
  }
}

/* Main nav (sidebar on larger screens, flyout on mobile */
.main-nav {
  background-color: var(--color-neutral-05);
}

.page-layout.adv-search-open {
  --sidebar-width: 18rem;
}

button.advanced-search-toggle,
button.close-advanced-search-toggle {
  --button-bg-color: transparent;
  --button-fg-color: var(--color-default-text);
  --button-hover-bg-color: transparent;
  --button-hover-color: var(--color-primary--accent);
}

button.advanced-search-toggle {
  display: flex;
  align-items: center;
  gap: .2rem;

  font-size: .85rem;
  font-weight: 500;
  padding: .3rem .7rem;

  & svg {
    height: 1.7rem;
    width: 1.7rem;
    vertical-align: middle;
  }
}

button.close-advanced-search-toggle {
  --icon-size: 1.5em;
  background: transparent;
  float: right;
  padding: .3rem;
  margin-right: var(--responsive-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -2rem;

  & svg {
    color: var(--color-default-text);
    height: 1.3rem;
    width: 1.3rem;
  }

  &:is(:hover,:focus) {
    background: var(--color-neutral-25);
  }

  &[aria-expanded=true] {
    display: flex;
  }
  &[aria-expanded=false] {
    display: none;
  }
}

.main-nav .advanced-search {
  display: none;
}

.main-nav.adv-search-open {
  .advanced-search {
    display: block;
  }
  .menu--main {
    display: none;
  }
}

/* Make column expand when advanced search is open */

body.adv-search-open {
  & .page-wrapper {
    grid-template-columns: 342px auto;
  }
  & .left-nav-wrapper {
    & .advanced-search-form {
      display: block;
    }
  }
}

/* Other sidebar blocks */
.main-nav-blocks {
  padding: 1rem;
}

/* Mobile menu transition */
@media (max-width: 959px) {
  #main-nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 90vw;
    z-index: 20;
    right: -90vw;
    transition: right .5s ease-out;

    &.open {
      right: 0;
    }

    .close-menu-toggle {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

}
