.toggle-button {
  --icon-size: 2em;
  &.with-icon {
    display: grid;
    grid-template-columns: var(--icon-size) auto;
    align-items: center;
    justify-content: start;
    gap: .2rem;
  }

  svg {
    fill: currentColor;
    height: var(--icon-size);
    width: var(--icon-size);
  }
}
