/**
 * Utility classes
 */

.display-list,
.inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  & > li {
    display: inline-flex;
    margin-right: 0.4em;
    &:last-child {
      margin: 0;
    }
  }
}

/* Link styles */

/* Can use custom properties in containing element to ovrerride the caret values
  --caret-color: var(--color-links);
  --caret-size: 1rem;
  --caret-weight: 2px;
  --caret-rotate: 45deg;
 */

.caret-link::after,
summary::after {
  content: '';
  display: inline-block;
  height: var(--caret-size, 1rem);
  width: var(--caret-size, 1rem);
  border-right: var(--caret-weight, 2px) solid var(--caret-color, var(--color-links));
  border-bottom: var(--caret-weight, 2px) solid var(--caret-color, var(--color-links));
  transform: rotate(var(--caret-rotate, 45deg));
}

.tag {
  background-color: light-dark( rgba(0,0,0,0.1), rgba(255,255,255,0.1));
  color: var(--color-default-text);
  display: inline-block;
  line-height: 1.6rem;
  padding: 0rem 0.7rem;
  text-decoration: none;
}

a.tag {
  background-color: light-dark( rgba(0,0,0,0.2), rgba(255,255,255,0.2));

  &:is(:hover,:focus) {
    background-color: var(--color-primary);
    color: var(--color-primary--foreground);
    text-decoration: none;
  }
}

/* Layout utilities */

.fixwidth,
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-right: var(--responsive-padding);
  padding-left: var(--responsive-padding);
}

/* Uses padding to make div work like a container without needing an extra div */
.make-container {
  padding-left: var(--max-width-margin);
  padding-right: var(--max-width-margin);
}

/* Background colours */
.bg-color {
  padding: 1rem var(--responsive-padding);
}

.bg-color--primary {
  --color-links: var(--color-primary--foreground);
  --color-link-hovers: light-dark(var(--color-primary-dark), var(--color-primary-light));
  --color-default-text: var(--color-primary--foreground);

  background-color: var(--color-primary);
  color: var(--color-primary--foreground);

  button {
    background-color: var(--color-primary--foreground);
    color: var(--color-primary);
  }

  svg {
    fill: var(--color-primary--foreground);
  }
}

/* Views wrapper */
.view-display .display-wrapper,
.table-display .view-content {
  background: var(--color-neutral-05);
  padding: 1rem;
  padding-bottom: 1px;
}
