 /* Primary font family */

 @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&display=swap');

 :root {
  /* This declares that we support light and dark modes */
  --color-white: light-dark(#fff, #fffbf5);
  --color-black: hsl(0 0% 2%);
  --color-primary-light: #6fd4ee;
  --color-primary-medium: #2A7E93;
  --color-primary-dark: #004252;
  --color-secondary-light: #8c9bff;
  --color-secondary-medium: #4759CB;
  --color-secondary-dark: #243184;

  --color-primary: light-dark(var(--color-primary-medium), var(--color-primary-dark));
  --color-primary--foreground: var(--color-white);
  --color-primary--accent: light-dark(var(--color-primary-dark), var(--color-primary-medium));

  /* Secondary colours */
  --color-secondary: light-dark(var(--color-secondary-medium), var(--color-secondary-dark));
  --color-secondary--foreground: var(--color-white);

  /* Greys go in shades from the background colour from less contrast to more contrast */
  --color-neutral-00: light-dark(var(--color-white), var(--color-black));
  --color-neutral-05: light-dark(hsl(0 0% 95%), hsl(0 0% 5%));
  --color-neutral-10: light-dark(hsl(0 0% 90%), hsl(0 0% 10%));
  --color-neutral-25: light-dark(hsl(0 0% 75%), hsl(0 0% 25%));
  --color-neutral-30: light-dark(hsl(0 0% 70%), hsl(0 0% 30%));
  --color-neutral-50: hsl(0 0% 50%);
  --color-neutral-70: light-dark(hsl(0 0% 30%), hsl(0 0% 70%));
  --color-neutral-80: light-dark(hsl(0 0% 20%), hsl(0 0% 80%));
  --color-neutral-90: light-dark(hsl(0 0% 10%), hsl(0 0% 90%));
  --color-neutral-100: light-dark(var(--color-black), var(--color-white));

  --color-default-bg: light-dark(var(--color-white), var(--color-black));
  --color-default-text: light-dark(var(--color-black), var(--color-white));

  --color-links: light-dark(var(--color-primary), var(--color-primary-light));
  --color-link-hovers: light-dark(var(--color-secondary), var(--color-secondary-light));

  --font-family-primary: 'Ubuntu', Helvetica, sans-serif;
}

/*
  Dark mode configuration

  color-scheme: sets the active colour scheme.
  Will be used by form elements, scrollbars and other System UI elements

  The custom property --theme allows us to fine-tune the colour switch using
  a @style query (below), and accommodates both user preference and the manual
  toggle
*/

/* Set the values based on the user's preferred colours scheme */
@media (prefers-color-scheme: dark) {
  html {
    --theme: dark;
  }
}

/* Set the values using the .dark class provided by Dark Mode Toggle module */
html.dark {
  --theme: dark;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  html[data-dark-mode-source='system'] {
    --theme: dark;
  }
}

body {
  container-type: inline-size;
  container-name: body;
}

/* How to modify dark mode styles using the --theme value.
  Currently not supported in Firefox */
@container style(--theme: dark) {

}
