/**
 * Buttons
 * Colours are defined in the colour.css file
 */
.button,
button,
input[type='submit'],
.form-submit,
.more-link a {
  background: var(--color-primary);
  color: var(--color-primary--foreground);

  display: inline-block;
  font-size: 1em;
  line-height: 1rem;
  padding: .7em 1em;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover,
button:hover,
input[type='submit']:hover,
.form-submit:hover,
.more-link a:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
.form-submit:focus,
.more-link a:focus {
  background: var(--color-secondary);
  color: var(--color-secondary--foreground);
}
.button-bigger {
  font-size: 1.25em;
}
.button-smaller {
  font-size: .85em;
  font-weight: 600;;
}
.button-outline {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  border: 3px solid;
  font-weight: 600;
}
.button-outline:hover,
.button-outline:focus {
  background: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.button-disabled {
  opacity: .8;
}