/**
 * All navigation types other than pagers
 * Menus, mreadcrumbs, pagers, links etc.
*/

nav li {
  display: inline-block;
}
nav .contextual li {
  display: block;
}
nav a {
  text-decoration: none;
}

/* Some default styling for menus */
nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .menu a {
  padding: .2em .5em;
}

/* Skip link */
.skip-link {
  background: #e4e4e4;
  text-decoration: none;
  padding: .2em .8em;
}
.skip-link:focus {

}

/* Breadcrumbs */
.breadcrumbs {
  font-size: .85em;
  margin-bottom: .5em;
}
.breadcrumbs ol {
  padding: 0;
}
.breadcrumbs a {
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs li:after {
  content: '/';
  display: inline-block;
  margin: 0 .3em;
}
.breadcrumbs li:last-child:after {
  content: '';
}

/* Links (Drupal's core .links class) */
@media all and (min-width: 620px) {
  .links.inline {
    text-align: right;
  }
}
.links.inline li {
  display: inline-block;
}
.links li a {
  font-size: .9em;
  padding: .2em .5em;
  text-decoration: none;
  text-transform: lowercase;
}
.links li a:hover {
  text-decoration: underline;
}
