/* Pagers */
.pager {
  font-size: 1.1em;
  margin: 2em 0;
  text-align: center;
}
.pager li {
  display: inline-block;
}
.pager a {
  background: var(--color-lt-grey);
  padding: .4em .7em;
  margin: 0 .2em;
  text-decoration: none;
}
.pager .is-active a {
  font-weight: bold;
  background: var(--color-dk-grey);
  color: white;
}
.pager a:hover {
  background: rgba(0,0,0,0.2);
}

/* Views mini pager */
.mini-pager {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  width: 100%;
}
.mini-pager .pager-current {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.mini-pager .pager-prev a,
.mini-pager .pager-next a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mini-pager .pager-next a {
  justify-content: flex-end;
}
.mini-pager .pager-prev a:before,
.mini-pager .pager-next a:after {
  content: '';
  height: .6em;
  width: .6em;
  border-right: 1px solid var(--color-default-text);
  border-top: 1px solid var(--color-default-text);
  transform: rotate(45deg);
}
.mini-pager .pager-prev a:before {
  transform: rotate(-135deg);
  margin-right: .2em;
}
.mini-pager .pager-next a:after {
  margin-left: .2em;
}