/**
 * Theming for Tables
*/

table {
  border: none;
  border-collapse: collapse;
}
table caption {
  background: #eee;
  font-size: .9em;
  font-style: italic;

  margin-bottom: .2em;
  opacity: .9;
  padding: 0.7em 1.5em;
}
th {
  font-weight: 600;
  text-align: left;
}
td, th {
  border: none;
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  vertical-align: top;
}
tr.even {
  background: #ddd;
}
tr.odd {
  background: #eee;
}