/**
 * Advanced search form (filters)
*/

.open-advanced-search {
  background: transparent;
  color: var(--color-defalt-text);
  display: inline-block;
  font-size: .85rem;
  font-weight: 500;
  margin-bottom: .1rem;
  margin-top: -.1rem
}

.open-advanced-search svg {
    height: 1.7rem;
    width: 1.7rem;
    vertical-align: middle;
  }

/* Search form in sidebar */

.left-nav-wrapper .advanced-search-form {
  padding-left: 1rem;
  padding-right: 1rem;
  display: none;
  text-align: left
}

.left-nav-wrapper .advanced-search-form label {
    font-size: .8rem;
    font-weight: normal;
  }

/* Hiding & Showing changes */

.close-advanced-search {
  background: transparent;
  float: right;
  padding: .3rem;
  margin-right: var(--responsive-padding)
}

.close-advanced-search svg {
    color: var(--color-default-text);
    height: 1.5rem;
    width: 1.5rem;
  }

.close-advanced-search:hover, .close-advanced-search:focus {
    background: transparent;
    svg {
      color: var(--color-secondary--foreground);
    }
  }

.close-advanced-search[aria-expanded=true] {
    display: block;
  }

.close-advanced-search[aria-expanded=false] {
    display: none;
  }

.page-wrapper {
  /* This currently only works in Firefox */
  transition: grid-template-columns .3s
}

.adv-search-open .page-wrapper {
    grid-template-columns: 342px auto;
  }

.adv-search-open .left-nav-wrapper .advanced-search-form {
      display: block;
    }

.region-left-nav .menu--main.hide {
  display: none;
}

.responsive-menu .close-advanced-search {
    margin-right: 0
  }

.responsive-menu .close-advanced-search svg {
      color: white;
    }

.responsive-menu .left-nav-wrapper {
    margin-left: calc(-1 * var(--responsive-padding));
  }

/* Form adjustments */

.responsive-menu input,
  .responsive-menu select,
  .responsive-menu textarea {
    border: none;
  }

.responsive-menu .form-item {
    margin: 0 0 0.8rem;
  }

/**
 * Advanced search results page
*/

/* Search summary */

.search-summary {
  margin: 0 0 1em;
}

.advanced-view-header .search-summary {
  margin-bottom: 0;
}

/* Form layout */

@media all and (min-width: 960px) {
  .search-exposed-filters form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 2em;
  }
  .search-exposed-filters .form-actions {
    grid-column: span 2;
  }
}

.search-exposed-filters .form-item {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 7em auto;
    align-items: center;
    margin: .5em 0
  }

.search-exposed-filters .form-item input,
    .search-exposed-filters .form-item select {
      width: 100%;
    }

/* Date fields */

.date-search-wrap {
  display: flex
}

.date-search-wrap input {
    max-width: 11em;
  }

.date-search-wrap .form-item:first-child {
    margin-right: .5em;
  }

.responsive-menu .date-search-wrap .form-item {
    max-width: 20em;
  }

/* Submit */

.advanced-search-form + .form-actions {
  margin-top: 0;
}

.advanced-search-form + .form-actions .form-submit {
  background-position: 4.3em center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z' /%3E%3C/svg%3E");
  background-size: 1.7em;
  padding-right: 2.1em;
}

/*# sourceMappingURL=advanced-search.css.map */
