/**
 * Component CSS for catchup form
*/

.region-middle-highlight h2 {
  margin: 0;
}
@media all and (min-width: 35em) {
  .region-middle-highlight .views-exposed-form form {
    display: flex;
    align-items: center;
  }

  .region-middle-highlight .views-exposed-form .form-item {
    margin-right: 1em;
  }
}
@media all and (max-width: 34em) {
  .region-middle-highlight .views-exposed-form .form-item {
    margin-bottom: 1em;
  }
}