/**
 * Component CSS for catchup form
*/

.region-middle-highlight h2 {
  margin: 0;
}
@media all and (min-width: 35em) {
  .block-views-exposed-filter-block--scitalk-latest-talks-scitalk-catch-up form {
    display: flex;
    align-items: center;
  }
  .block-views-exposed-filter-block--scitalk-latest-talks-scitalk-catch-up .form-item {
    margin-right: 1em;
  }
}
@media all and (max-width: 34em) {
  .block-views-exposed-filter-block--scitalk-latest-talks-scitalk-catch-up .form-item {
    margin-bottom: 1em;
  }
}