
/**
 * Modal dialogs for Citations
*/
.citations-label {
  display: flex;
  align-items: center;
  padding: .5em 1em;
}
.citations-label svg {
  fill: var(--color-primary--foreground);
  height: 2em;
  width: 2em;

  margin-right: .5em;
}

/*
 * Tabs
*/
#citations-content {
  display: none;
}
.citations-content {
  display: block;
  border: none;
}

/* Tab labels */
.citations-tab-labels {
  display: flex;
}
.citations-tab-labels li {
  margin-right: .2em;
}
.citations-tab-labels a {
  border: none;
  cursor: pointer;
}
.citations-tab-labels a:hover,
.citations-tab-labels a:focus,
.citations-tab-labels a[aria-selected="true"] {
  background: transparent;
  color: var(--color-primary);
}
.citations-tab-labels a[aria-selected="true"]:after {
  content: '';
  display: block;
  width: 1.5em;
  height: 1.5em;

  background: var(--color-lt-grey);
  margin: 0;
  transform: rotate(45deg);
  position: relative;
  left: calc(50% - .8em);
  bottom: -2.1em;
  margin-top: -1.5em;
}

/* Tab content */
.citation-item[aria-hidden="true"] {
  display: none;
}
.citation-content {
  background: var(--color-lt-grey);
  padding: 1em;
  margin-top: 1em;
  color: var(--color-dk-grey);
}
.citation-item .bibtex-content {
  overflow: scroll
}
.citation-item pre {
  margin-left: -5em;
}
