/**
 * Component CSS for Collections/Taxonomy
*/

/* Grid list of terms on the home page  */

.view-scitalk-collections .term-grid {
  display: grid;
  grid-gap: 1em;
}
@media all and (min-width: 600px) {
  .view-scitalk-collections .term-grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 960px) {
  .view-scitalk-collections .term-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.view-scitalk-collections .term-grid li {
  display: grid;
}
.view-scitalk-collections .term-grid li a {
  display: block;
  color: white;
  padding: 0.8em 1em;
  text-decoration: none;
}
.view-scitalk-collections .term-grid li:nth-child(even) a {
  background: var(--color-secondary);
  color: var(--color-secondary--foreground);
}
.view-scitalk-collections .term-grid li:nth-child(odd) a {
  background: var(--color-primary);
  color: var(--color-primary--foreground);
}
.view-scitalk-collections .term-grid li:nth-child(even) a:hover,
.view-scitalk-collections .term-grid li:nth-child(even) a:focus {
  background: var(--color-primary);
}
.view-scitalk-collections .term-grid li:nth-child(odd) a:hover,
.view-scitalk-collections .term-grid li:nth-child(odd) a:focus {
  background: var(--color-secondary);
}

/**
 * Page header view mode
*/
.node.collection.page-header a {
  color: #fff;
  text-decoration: none;
}
.node.collection.page-header a:hover {
  text-decoration: underline;
}
.node.collection.page-header .field--name-field-collection-organizers .field__label {
  font-weight: 500;
}
.node.collection.page-header .field--name-field-collection-organizers .field__label:after {
  content: ':';
  display: inline-block;
}
.node.collection.page-header .field--name-field-collection-organizers.inline-list li:last-child {
  margin-right: .3em;
}

/*
 * Full page
*/
.node.collection.full > .content .field {
  margin-bottom: 1em;
}
.node.collection.full .view-scitalk-talks-in-collection {
  margin-top: 2em;
}
