/**
 * Component CSS for Collections/Taxonomy
*/

/*
 * Mixins - Classes created in utilities.css
*/

/*
 * to use:
 * @mixin caret 2px, 1em, var(--color-black)
*/

/* Exposed type filter on Collections view */

.bef-exposed-form .form-item-field-collection-type-target-id label {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }

.bef-exposed-form .form-item-field-collection-type-target-id .form-select.bef-links {
    background: transparent;
    display: block
  }

.bef-exposed-form .form-item-field-collection-type-target-id .form-select.bef-links ul {
      display: flex;
      text-align: center;
    }

.bef-exposed-form .form-item-field-collection-type-target-id + .form-item-sort-bef-combine {
    display: none;
  }

@media all and (max-width: 600px) {
    .bef-exposed-form .form-item-field-collection-type-target-id ul {
      flex-direction: column
    }
      .bef-exposed-form .form-item-field-collection-type-target-id ul li {
        display: block;
      }
}

.bef-link {
  border-bottom: 2px solid transparent;
  font-size: 1.2em;
  font-weight: 600;
  padding: .5em 1.8em
}

.bef-link strong {
    display: block;
    color: var(--color-dk-grey);
  }

.bef-link a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

.bef-link:hover, .bef-link:focus, .bef-link.bef-link--selected {
    background: var(--color-lt-grey);
    border-bottom: 2px solid var(--color-primary);
  }

@media all and (max-width: 600px) {
  .bef-link {
    padding: .5em .8em
  }
    .bef-link a {
      display: flex;
      gap: .5rem;
    }
}

/* Layered box shadows */

.collection-wrapper {
   position: relative;
   display: flex;
   margin-left: 20px
}

.collection-wrapper.collection-has-children {
     margin-bottom: calc(var(--gutter-standard) + 10px)
   }

.collection-wrapper.collection-has-children .node.collection {
       margin: 0;
       position: relative;
       z-index: 2;
     }

.collection-wrapper.collection-has-children .info {
       margin-bottom: .5rem;
     }

.collection-wrapper.collection-has-children:after,
     .collection-wrapper.collection-has-children:before {
       box-shadow: -2px 2px 2px 0 rgba(99, 104, 115, 0.15);
       position: relative;
       background: white;
       content: '';
       display: flex;
       width: 100%;
       height: 100%;
       position: absolute;
       top: 5px;
       left: -5px;
       z-index: 1;
     }

.collection-wrapper.collection-has-children:after {
       top: 10px;
       left: -10px;
       z-index: 0
     }

/* Expanded views */

.collection-wrapper + .collection-children {
  margin-left: 2rem;
}

/* Collection node adjustments */

.parent-collection-link {
  font-weight: bold;
  text-decoration: none
}

.parent-collection-link:before {
    content: '';
    display: inline-block;
    height: .5em;
    width: .5em;
    border-right: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    transform: rotate(45deg);
    transform: rotate(135deg);
  }

.parent-collection-link:hover, .parent-collection-link:focus {
    text-decoration: none;
  }

@media all and (min-width: 600px) {
  .node.collection.horizontal-card,
  .node.collection.teaser {
    width: 100%
  }

    .node.collection.horizontal-card > .views-element-container, .node.collection.teaser > .views-element-container {
      flex: 0 0 200px;
    }

    .node.collection.horizontal-card > .content, .node.collection.teaser > .content {
      margin-left: 1em;
    }
}

@media all and (max-width: 600px) {
    .node.collection.horizontal-card > .views-element-container, .node.collection.teaser > .views-element-container {
      display: none;
    }
}

.node.collection.full > .content {
    margin: 1rem 0;
  }

.field--name-field-parent-collection {
  font-size: .9em;
  font-weight: 500;
  margin: 0 0 .5em
}

.field--name-field-parent-collection a {
    text-decoration: none;
  }

/* Collapse icons */

.toggle-children {
  background: var(--color-lt-grey);
  color: var(--color-primary);
  font-size: .9em;
  margin-top: .5rem;
  padding: 0.4em .5em
}

.toggle-children:after {
    content: '';
    display: inline-block;
    height: .5em;
    width: .5em;
    border-right: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    transform: rotate(45deg);
    margin: -0.5rem .2rem 0 0.3rem;
    vertical-align: middle;
  }

.toggle-children[aria-expanded='true']:after {
    transform: rotate(-135deg);
    margin-top: .1rem;
  }

.toggle-children:hover, .toggle-children:focus {
    background: var(--color-secondary);
    color: var(--color-secondary--foreground)
  }

.toggle-children:hover:after, .toggle-children:focus:after {
      border-color: var(--color-secondary--foreground);
    }

/* View alterations  */

.collection-children[aria-hidden='true'] {
  display: none;
}

.view-scitalk-collection-children > .view-content > div > h3 {
    display: none;
  }

.view-scitalk-collection-children {

  margin-bottom: 2rem;
  margin-left: 2rem
}

.view-scitalk-collection-children > .more-link {
    margin-top: -1rem 1rem 0 0;
    text-decoration: none;
    text-transform: none
  }

.view-scitalk-collection-children > .more-link a:after {
      content: '';
      display: inline-block;
      height: .5em;
      width: .5em;
      border-right: 2px solid var(--color-primary--foreground);
      border-bottom: 2px solid var(--color-primary--foreground);
      transform: rotate(45deg);
      transform: rotate(-45deg);
      margin-left: 0.5rem;
    }

/*# sourceMappingURL=collections.css.map */
