
/* Views exposed form */

.views-exposed-form form {
  display: flex;
  align-items: center;
}
.views-exposed-form .form-item {
  margin-right: 1em;
}
input:focus,
select:focus,
textarea:focus,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  border-width: .2em;
  outline: none;
  box-shadow: none;
}
