/**
 * All navigation types other than menus
 * Breadcrumbs, pagers, links etc.
*/

nav li {
  display: inline-block;
}
nav .contextual li {
  display: block;
}
nav a {
  text-decoration: none;
}

/* Skip link */
.skip-link {
  background: #e4e4e4;
  text-decoration: none;
  padding: .2em .8em;
}

/* Breadcrumbs */

.breadcrumbs {
  font-size: .85em;
  margin-bottom: .5em;
}
.breadcrumbs a {
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs li:after {
  content: '/';
  display: inline-block;
  margin: 0 .3em;
}
.breadcrumbs li:last-child:after {
  content: '';
}

/* Pagers */

.pager {
  font-size: 1.1em;
  margin: 2em 0;
  text-align: center;
}
.pager li {
  display: inline-block;
}
.pager a {
  background: rgba(0,0,0,0.1);
  padding: .4em .7em;
  margin: 0 .2em;
  text-decoration: none;
}
.pager a:hover {
  background: rgba(0,0,0,0.2);
}
.pager__item--next a:after,
.pager__item--last a:after  {
  content: '\00BB';
  display: inline;
}
.pager__item--previous a:before,
.pager__item--first a:before{
  content: '\00AB';
  display: inline;
}

/* Views mini pager */
.mini-pager {
  background: rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
}
.mini-pager > * {
  flex-basis: 33%;
  padding: .4em;
}
.mini-pager .pager-current {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.mini-pager .pager-prev a,
.mini-pager .pager-next a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mini-pager .pager-next a {
  justify-content: flex-end;
}
.mini-pager .pager-prev a:before,
.mini-pager .pager-next a:after {
  content: '';
  background: url(../images/angle-icons.svg) no-repeat;
  background-size: 3.2em;
  height: 1.2em;
  width: 1.2em;
  opacity: .5;
  flex: 0 0 1.2em;
}
.mini-pager .pager-prev a:before {
  background-position: 0.2em -5.1em;
  margin-right: .3em;
}
.mini-pager .pager-next a:after {
  background-position: 0.4em -3.1em;
  margin-left: .3em;
}

/* Links */
@media all and (min-width: 620px) {
  .links.inline {
    text-align: right;
  }
}
.links.inline li {
  display: inline-block;
}
.links li a {
  font-size: .9em;
  padding: .2em .5em;
  text-decoration: none;
  text-transform: lowercase;
}
.links li a:hover {
  text-decoration: underline;
}
