/**
 * Node CSS for talks
*/

/**
 * Speaker + date metadata, used in all view modes
*/

.speakers {
  font-size: .9em;
  line-height: 1.4;
  margin: 0 0 .2em 2em
}

.speakers a {
    text-decoration: none
  }

.speakers a:hover, .speakers a:focus {
      text-decoration: underline;
    }

.speakers div,
  .speakers p {
    margin: 0;
    display: inline;
  }

.speaker-marker {
  color: var(--color-primary);
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin-left: -2em;
  vertical-align: middle;
}

/* List of multiple speakers */

.speaker-list {
  display: inline;
  line-height: 1.5
}

.speaker-list li + li {
    margin-top: .2rem;
  }

.node.speaker-profile.speaker-name-institution .field--name-field-sp-institution-name:before, .speaker-date .field--name-field-sp-institution-name:before {
    content: ' - ';
    display: inline-block;
    margin-left: .3em;
  }

/* Common view mode theming */

.node.talk.horizontal-card,
  .node.talk.teaser {
    background: white;
    box-shadow: -2px 2px 2px 0 rgba(99, 104, 115, 0.1);
    padding: 1.5em var(--gutter-standard) 1em;
    margin-bottom: var(--gutter-standard);
  }

.node.talk .info {
    font-size: .8em;
    margin-left: -.5em
  }

.node.talk .info > * {
      border-right: 1px solid var(--color-lt-grey);
      padding: .4em 1.2em;
      margin-right: .5em
    }

.node.talk .info > *:last-child {
       border: none;
       margin-right: 0;
      }

.node.talk .info ul {
      display: inline-block;
      border-right: none;
    }

@media all and (min-width: 768px) {
    .node.talk .info {
      display: flex;
    }
}

/**
 * Talk number in page header
*/

.talk-number {
  display: inline-block;
  background: #eee;
  padding: 0.2em 0.7em;
  margin-bottom: 0.2em;
}

/**
 * Hozitontal card view mode
*/

.node.talk.horizontal-card {
  display: flex;
  line-height: 1.7em
}

.node.talk.horizontal-card > a {
    flex: 0 0 140px
  }

.node.talk.horizontal-card > a + .content {
      margin-left: 1em;
    }

.node.talk.horizontal-card h3 {
    margin: 0 0 .5em;
  }

.node.talk.horizontal-card h3 a,
  .node.talk.horizontal-card .speaker-name-institution a {
    text-decoration: none
  }

.node.talk.horizontal-card h3 a:hover, .node.talk.horizontal-card h3 a:focus, .node.talk.horizontal-card .speaker-name-institution a:hover, .node.talk.horizontal-card .speaker-name-institution a:focus {
      text-decoration: underline;
    }

@media all and (max-width: 600px) {
  .node.talk.horizontal-card > a {
    display: none
  }
    .node.talk.horizontal-card > a + .content {
      margin-left: 0;
    }
}

/**
 * Teaser view mode
*/

.node.talk.teaser {
  display: flex
}

.node.talk.teaser > a {
    flex: 0 0 auto;
    margin-right: var(--gutter-standard);
  }

.node.talk.teaser h2 {
    text-transform: none;
    margin: 0 0 .3em
  }

.node.talk.teaser h2 a {
      text-decoration: none
    }

.node.talk.teaser h2 a:hover, .node.talk.teaser h2 a:focus {
        text-decoration: underline;
      }

/*
 * Full view mode
*/

/* Video player */

.jwplayer {
  width: 100% !important;
}

/* Content layout */

@media all and (min-width: 961px) {
  .node.talk.full .content-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3em;
    margin-top: var(--vertical-padding);
  }
}

@media all and (max-width: 960px) {
  .node.talk.full .sidebar {
    margin-top: 2em;
  }
  h2.related-talks-toggle {
    background: var(--color-primary);
    color: var(--color-primary--foreground);
    padding: .5em .8em;

    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  h2.related-talks-toggle:after {
    content: '';
    display: inline-block;

    border-bottom: 2px solid var(--color-primary--foreground);
    border-right: 2px solid var(--color-primary--foreground);
    transform: rotate(45deg);
    height: 0.6em;
    width: 0.6em;
  }
  .related-talks-view {
    max-height: 0;
    overflow: hidden;
    margin: 1.2em;
    transition: max-height 1s;
  }
  .related-talks-view.show {
    max-height: 90em; /* some really big value */
    display: block;
  }
}

/* Resources */

.field--name-field-talk-attachments li {
  margin-bottom: 1em;
}

.resource-link,
.resource-link .icon {
  display: flex;
}

.resource--remote_file,
.resource--image,
.resource--file {
  align-items: center;
}

.resource-link .icon {
  background: var(--color-primary);
  color: var(--color-primary--foreground);

  height: 3em;
  width: 3em;
  margin-right: 1em;
  padding: 1em;

  align-items: center;
  justify-content: center;
}

.resource-link .icon svg {
  color: var(--color-primary--foreground);
}

.resource--arxiv .icon {
  background: #b31b1b;
}

.resource--remote_file .icon,
.resource--file .icon {
  background: no-repeat transparent center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z' /%3E%3C/svg%3E");
  background-size: cover;
  font-size: .9em;
  height: 5em;
  width: 4em;
  padding: .8em 0 0;
}

.resource--image .icon {
  background: none;
  padding: 0;
}

.resource--image .icon figure,
.resource--image .icon figure a  {
  display: flex;
  height: 100%;
}

.resource--image .icon img {
  object-fit: cover;
}

.resource-link p {
  margin: 0;
}

.resource-link .small {
  font-size: .8em;
}

.resource-link strong {
  font-weight: 500;
}

.resource--remote_file p,
.resource--file p {
  display: inline;
}

.talk-add {
  padding: .5em 1em;
  margin-bottom: 1em;
}

/*# sourceMappingURL=talks.css.map */
