/**
 * Node CSS for talks
*/

/**
 * Page header with speaker name and date
*/
.speaker-date {
  line-height: 1.2;;
}
.speaker-date a {
  text-decoration: none;
}
.speaker-date a:focus,
.speaker-date a:hover {
  text-decoration: underline;
}
.speaker-date p {
  margin: 0;
}

/* Speaker name display changes depending on how many there are */
.speaker-date.single-line > div,
.speaker-date.single-line > p {
  display: inline-block;
  line-height: 1.3;;
}
.speaker-date.single-line .field--name-field-talk-speaker-profile {
  border-right: 1px solid var(--color-dk-grey);
  line-height: 1em;
  margin-right: .3em;
  padding-right: .4em;
}
.field--name-field-talk-speaker-profile ul.single-line {
  display: inline-block;
}
.field--name-field-talk-speaker-profile ul {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}
.field--name-field-talk-speaker-profile ul li:after {
  content: ',';
  margin-right: .2em;
}
.field--name-field-talk-speaker-profile ul li:last-child:after {
  content: '';
}

/* Temp background for image */

.node.talk .thumbnail-placeholder {
  background: var(--color-lt-grey);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 4vw 1.5em;
  margin-bottom: 1em;
  width: 100%;
}

/**
 * Card view mode
*/
.node.talk.card h3 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: .5em;
}
.node.talk.card h3 a {
  text-decoration: none;
}
.node.talk.card h3 a:hover {
  text-decoration: underline;
}
.node.talk.card .speaker-date.single-line .field--name-field-talk-speaker-profile {
  border: none;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 35em) {
  .node.talk.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--gutter--standard);
  }
}

/**
 * Teaser view mode
*/
.node.talk.teaser {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: var(--gutter--standard);
  margin-bottom: calc(2 * var(--gutter--standard));
}
.node.talk.teaser h2 {
  text-transform: none;
  margin: 0 0 .3em;
}
.node.talk.teaser h2 a {
  text-decoration: none;
}
.node.talk.teaser h2 a:focus,
.node.talk.teaser h2 a:hover {
  text-decoration: underline;
}
.node.talk.teaser .speaker-date {
  margin-bottom: 1em;
}
@media all and (max-width: 35em) {
  .node.talk.teaser .field--name-field-talk-abstract {
    display: none;
  }
}
.node.talk.teaser .field--name-field-talk-abstract strong + p {
  display: inline;
}

/*
 * Talks full page
*/

/* Social share links */

.share-links {
  padding: 1em;
  margin: -1em;
}
h2.share-label {
  cursor: pointer;
  margin: 0;
  padding: .4em .8em;
}
@media all and (max-width: 30em) {
  h2.share-label .text {
    display: none;
  }
}
.share-item-list {
  background: var(--color-primary);
  padding: var(--gutter--standard);

  list-style: none;
  margin: 0;

  position: absolute;
  right: 0;
  top: 3.3em;
  z-index: 10;

  display: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--gutter--standard);
}
.share-item-list:before {
  background: var(--color-primary);
  content: '';
  height: 1em;
  width: 1em;
  transform: rotate(45deg);
  position: absolute;
  top: -.4em;
  right: 2em;
}
.share-links:hover .share-item-list,
.share-links:focus .share-item-list {
  display: grid;
}
.share-item a,
.share-item a:hover,
.share-item a:focus {
  color: var(--color-primary--foreground);
  text-decoration: none;
}
.share-links h2,
.share-item {
  display: flex;
  align-items: center;
}
.share-links svg {
  fill: var(--color-primary--foreground);
  height: 2em;
  width: 2em;

  margin-right: .5em;
}

/* Video player */
.jwplayer {
  width: 100% !important;
  height: calc(100vw * .75);
}

@media all and (min-width: 80.1em) {
  .jwplayer {
    height: calc(80em * .75);
  }
}

/* Content layout */

@media all and (min-width: 35em) {
  .node.talk.full .content-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3em;
    margin-top: var(--vertical-padding);
  }
}
.node.talk.full .field > strong:after {
  content: ':';
  display: inline;
}