{#
/**
 * @file
 * Custom theme implementation to display a node.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}
{% set count_talks_in_collection = content.field_collection_number_of_talks['#items'].0.value %}
{% set count_child_collections = content.field_collection_number_children['#items'].0.value %}

{% if count_talks_in_collection or count_child_collections %}
  {% set collection_has_children = TRUE %}
{% endif %}

<article{{ attributes.addClass(classes) }}>
  {% block content %}
    {% embed "@scitalk_theme/includes/entity-headers.twig" %}{% endembed %}
    <div class="info">
      {# Output number of talks & child collections #}
      <div class="collection-child-count">
        {% embed "@scitalk_theme/includes/collection-child-count.twig" with {
          show_count: true
          }%}{% endembed %}
      </div>
      {{ content|without('links','field_collection_description', 'field_parent_collection', 'field_collection_number_children','field_collection_number_of_talks') }}
    </div>
    <div class="content">
      {{ content.field_collection_description }}
    </div>
    {{ drupal_view('scitalk_talks_in_collection','card_view') }}
  {% endblock %}
</article>
