{#
/**
 * @file
 * Custom theme implementation to display a node.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {% block content %}
    {% embed "@scitalk_theme/includes/entity-headers.twig" %}{% endembed %}

    <div class="content">
      {{ content }}
    </div>
    {{ drupal_view('scitalk_talks_in_collection','card_view') }}
  {% endblock %}
</article>
