{#
/**
 * @file
 * Custom theme implementation to display a node.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {% block content %}
    {% embed "@scitalk_theme/includes/entity-headers.twig" %}{% endembed %}
    <div class="info">
      {# Output number of talks & child collections #}
      {% embed "@scitalk_theme/includes/collection-child-count.twig" %}{% endembed %}

      {{ content|without('links','field_collection_description', 'field_parent_collection') }}
    </div>
    <div class="content">
      {{ content.field_collection_description }}
    </div>
    {{ drupal_view('scitalk_talks_in_collection','card_view') }}
  {% endblock %}
</article>
