{#
/**
 * @file
 * Custom theme implementation to display a node with page header view mode;
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ content|without('links', 'field_talk_speaker_profile','field_talk_date') }}
  {% if node.bundle == 'talk' %}
    {% embed "@scitalk_theme/includes/speaker-date.twig" %}{% endembed %}
  {% endif %}
</div>
