{% extends "node.html.twig" %}
{#
/**
 * @file
 * Custom theme implementation to display a Talk node.
 *
 * @ingroup themeable
 */
#}
{% block content %}
    {{ content.field_talk_thumbnail }}
  <div class="content">
    {% embed "@scitalk_theme/includes/entity-headers.twig" %}{% endembed %}
    <div class="speakers">
      {% include '@scitalk_theme/includes/speaker-fields.twig' %}
    </div>
    <div class="info">
      {{ content|without('links','field_talk_thumbnail', 'field_talk_speaker_profile', 'field_talk_speakers_text','field_talk_abstract') }}
    </div>
    {% if view_mode == 'teaser' %}
      {{ content.field_talk_abstract }}
    {% endif %}
  </div>
{% endblock %}
