/**
 * Base navigation types
*/

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav .contextual li {
  display: block;
}
nav a {
  text-decoration: none;
}

/* Links */
@media all and (min-width: 620px) {
  .links.inline {
    text-align: right;
  }
}
.links.inline li {
  display: inline-block;
}
.links li a {
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  text-decoration: none;
  text-transform: lowercase;
}
.links li a:hover {
  text-decoration: underline;
}
