
{#
/**
 * @file
 * Custom theme implementation to display a node in thumbnail view mode
 * Used in a views embed in the Collections node displays
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass(classes) }}>
  {{ content }}
</div>
