
<header role="banner" class="site-header bg-color--primary">

  {% block site_branding %}
  {% endblock %}

  {% block site_search %}
  {% endblock %}

  <div class="supplementary-nav">
    {# Additional header nav, including dark mode buttons #}
    {% block supplementary_nav %}
    {% endblock %}
  </div>
</header>
