<footer class="site-footer">
  <div class="site-footer-main container">

  {% block footer_main %}
    {# Main footer region goes here #}
  {% endblock %}

  </div>

  <div class="site-footer-bottom">
    {% block footer_bottom %}
      {# Footer bottom region goes here #}
    {% endblock %}
  </div>

</footer>
