{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="maintenance-wrapper">
  <header role="banner">
    {% if logo %}
      <img src="{{ logo }}" class="logo" alt="{{ site_name }}"/>
    {% endif %}
  </header>

  <main role="main">
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    {{ page.content }}
  </main>
</div>
