
/**
 * Layout utility classes
 */

/**
 Variables
*/

.fixwidth {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
  width: 100%;
}
