
/**
 * Layout utility classes
 */

/**
 Variables
*/

:root {
  --gutter--standard: calc(1em + .2vw);
  --gutter--big: calc(1.2em + .2vw);
  --max-width: 1200px;
  --responsive-padding: 0;
  --vertical-padding: 2em;
}

/* Unfortunately can't use variables in a media query */
@media all and (max-width: 1250px) {
  :root {
    --responsive-padding: calc(1.25em + .2vw);
    --vertical-padding: calc(1.25em + .2vw);
  }
}

.fixwidth {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
}

/* Three column grid */

.grid-4col,
.grid-3col {
  display: grid;
  grid-gap: var(--gutter-standard);
  grid-template-columns: 1fr 1fr;
}
@media all and (min-width: 960px) {
  .grid-4col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-3col {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.layout .block {
  margin: 1rem 0;
}
