{% extends "node.html.twig" %}
{#
/**
 * @file
 * Custom theme implementation to display a Talk node.
 *
 * @ingroup themeable
 */
#}

{% block content_first %}
  <div class="content-first">
    {{ content.field_talk_thumbnail }}
  </div>
{% endblock %}

{# the heading will go here #}
{% block content %}
  {% embed "@scitalk_theme/includes/speaker-date.twig" %}{% endembed %}
  {{ content|without('links','field_talk_thumbnail', 'field_talk_speaker_profile', 'field_talk_date') }}
{% endblock %}