/**
 * Colours
 * Override this in your subtheme using libraries-override
 *
 * Always make sure colours meet colour contrast requirements for accessibility
 * Check colour contrast at:
 * https://webaim.org/resources/contrastchecker/
 */

/**
 * Colour variables
*/
:root {
  --color-primary: #205aff;
  --color-primary--foreground: #fff;
  --color-secondary: #d025ae;
  --color-secondary--foreground: #fff;
  --color-lt-grey: #cbd0dd;
  --color-dk-grey: #393b40;
}
/**
 * Links: Change the hover & focus effect to something that works well with your
 * primary/secondary colours
*/
a {
  color: var(--color-primary);
}
a:hover,
a:focus {
  color: var(--color-secondary);
}

/**
 * Button colours
*/
.button,
button,
input[type='submit'],
.form-submit  {
  background: var(--color-primary);
  color: var(--color-primary--foreground);
}

.button:hover,
button:hover,
input[type='submit']:hover,
.form-submit:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
.form-submit:focus {
  background: var(--color-secondary);
  color: var(--color-secondary--foreground);
}
.button-outline {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.button-outline:hover,
.button-outline:focus {
  background: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}


/* Form elements on focus */
input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-primary);
}