.search-form {
  --search-font-size: 1.2rem;
  --search-form-v-padding: .5rem;
  --search-form-height: calc(var(--search-font-size) + (2 * var(--search-form-v-padding)));
  --search-submit-icon-only: false;

  form {
    display: flex;
  }

  .form-item {
    display: flex;
    margin: 0;
    width: 100%;
  }

  .form-search,
  .form-text {
    font-size: var(--search-font-size);
    padding: var(--search-form-v-padding) .5rem;
    max-width: 100%;
  }

  .form-text {
    width: 100%;
    max-width: 30rem;
    min-width: 15rem;
  }

  .form-actions {
    margin-top: 0;
  }
}


/* Toggle/slide open option */
.toggle-search {
  display: flex;
  align-items: center;

  svg {
    height: var(--search-form-font-size);
    width: var(--search-form-font-size);
  }
}

/* In page variant */
.search-form--in-page {
  .form-text {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    max-height: var(--search-form-height);
  }
}

/* In the site header, with toggle */
.search-form--site-header {
  margin-bottom: 0;
  --search-submit-icon-only: true;

  form {
    justify-content: center;
    max-width: 30rem;
    margin: 0 auto;
  }

  .form-text,
  .form-search {
    border: 0;
    font-size: .8rem;
    outline: 0;
    width: 100%;
  }

  .form-submit {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: 960px) {
  .search-form--site-header button.search-toggle {
    display: none;
  }
}

@media (max-width: 959px) {
  .search-form--site-header {
    .search-form-wrapper {
      display: none;
    }

    .search-toggle .icon {
      height: 1.5rem;
      width: 1.5rem;
    }

    .search-form-wrapper {
      background: var(--color-neutral-25);
      padding: 1rem;
      position: fixed;
      left: 0;
      margin-top: 1rem;
      padding: 1rem;
      width: 100%;
    }

    .search-toggle[aria-expanded='true'] + .search-form-wrapper {
      display: block;
    }
  }
}
